USE [Volcano]
GO
/****** Object:  Table [dbo].[RevisionAlias]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevisionAlias](
	[Revision] [int] NOT NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_RevisionAlias] PRIMARY KEY CLUSTERED 
(
	[Revision] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VolcanoPerf]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VolcanoPerf](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HostName] [nvarchar](255) NULL,
	[Branch] [nvarchar](255) NULL,
	[Target] [nvarchar](255) NULL,
	[Cpu] [nvarchar](255) NULL,
	[Timestamp] [datetime] NULL,
	[Revision] [smallint] NULL,
	[KernelName] [nvarchar](255) NULL,
	[VectorSize] [smallint] NULL,
	[BuildDuration] [float] NULL,
	[BuildSDMean] [float] NULL,
	[ExecutionDuration] [float] NULL,
	[ExecutionSDMean] [float] NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_VolcanoPerf] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[TVF_SDMeans]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[TVF_SDMeans]
(	
	@R1 int, 
	@C1 nvarchar(255),
	@T1 nvarchar(255),
	@V1 nvarchar(255)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT KernelName, BuildSDMean, ExecutionSDMean 
	FROM dbo.VolcanoPerf
	WHERE Revision = @R1 AND Cpu = @C1 AND [Target] = @T1 AND VectorSize = @V1
)
GO
/****** Object:  UserDefinedFunction [dbo].[TVF_KernelRatioHistory]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[TVF_KernelRatioHistory]
(	
	@R1 int,
	@KN nvarchar(255),
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT  T2.KernelName
		   ,T2.Revision
		   ,T2.ExecutionDuration
		   ,T2.BuildDuration
		   ,T2.ExecutionSDMean
		   ,T2.BuildSDMean
		   ,T1.ExecutionDuration / T2.ExecutionDuration [Execution Ratio]
		   ,T1.BuildDuration / T2.BuildDuration [Build Ratio]
	FROM ( SELECT * FROM dbo.VolcanoPerf WHERE KernelName = @KN and Cpu = @C2 and [Target] = @T2 and VectorSize = @V2 ) AS T2
	INNER JOIN ( SELECT * FROM dbo.VolcanoPerf WHERE KernelName = @KN AND Cpu = @C1 and [Target] = @T1 and VectorSize = @V1 and Revision = @R1) as T1 
	ON T1.KernelName = T2.KernelName
)
GO
/****** Object:  UserDefinedFunction [dbo].[TVF_Compare]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[TVF_Compare]
(	
	@R1 int, 
	@R2 int,
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT D1.[KernelName]
      ,D1.[BuildDuration]/NULLIF(D2.[BuildDuration],0) as [Build Time Ratio]
      ,D1.[ExecutionDuration]/NULLIF(D2.ExecutionDuration,0) as [Execution Time Ratio]
      ,D1.[BuildDuration] as [Base Build Duration]
      ,D1.[ExecutionDuration] as [Base Execution Duration]
      ,D1.[BuildSDMean] as [Base Build SD]
      ,D1.[ExecutionSDMean] as [Base Execution SD]
      ,D2.[BuildDuration] as [Build Duration]
      ,D2.[ExecutionDuration] as [Execution Duration]
      ,D2.[BuildSDMean] as [Build SD]
      ,D2.[ExecutionSDMean] as [Execution SD]
      ,D1.ID as [Base ID]
      ,D2.ID as [ID]
      ,D1.Note as [Base Note]
      ,D2.Note as [Note]
	FROM ( SELECT [KernelName]
			   ,[BuildDuration]
               ,[ExecutionDuration]
               ,[BuildSDMean]
               ,[ExecutionSDMean]
               ,[Cpu]
               ,[Target]
               ,[VectorSize]
               ,[ID]
               ,[Note]
         FROM dbo.VolcanoPerf
         WHERE Revision = @R1 and Cpu = @C1 and [Target] = @T1 and VectorSize = @V1 ) as D1
	FULL JOIN 
	   ( SELECT [KernelName]
			   ,[BuildDuration]
               ,[ExecutionDuration]
               ,[BuildSDMean]
               ,[ExecutionSDMean]
               ,[Cpu]
               ,[Target]
               ,[VectorSize]
               ,[ID]
               ,[Note]
         FROM dbo.VolcanoPerf
         WHERE Revision = @R2 and Cpu = @C2 and [Target] = @T2 and VectorSize = @V2 ) as D2
	ON D1.KernelName = D2.KernelName
)
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRevisionNote]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateRevisionNote]
	-- Add the parameters for the stored procedure here
	 @Revision int
	,@Note nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE [Volcano].[dbo].[RevisionAlias]
	   SET [Note] = @Note
	WHERE Revision = @Revision
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerformanceNote]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdatePerformanceNote]
	-- Add the parameters for the stored procedure here
	 @ID int
	,@Note nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE [Volcano].[dbo].[VolcanoPerf]
	   SET [Note] = @Note
	WHERE ID = @ID
	
	SELECT ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExecutionDurationRatioByRatio]    Script Date: 05/28/2011 19:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ExecutionDurationRatioByRatio]
	-- Add the parameters for the stored procedure here
	@R1 int,
	@R2 int,
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT     KernelName, 
	       [Execution Time Ratio] Ratio
	FROM  dbo.TVF_Compare(@R1, @R2, @C1, @C2, @T1, @T2, @V1, @V2) 
	WHERE KernelName IS NOT NULL
	ORDER BY Ratio

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExecutionDurationRatio_Corei7]    Script Date: 05/28/2011 19:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ExecutionDurationRatio_Corei7]
	-- Add the parameters for the stored procedure here
	@R1 int,
	@R2 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT     nhlm_w32_1.KernelName KernelName, 
	       nhlm_w32_1.[Execution Time Ratio] Ratio_nhlm_w32_1,
	       nhlm_w32_1.[Base Execution Duration] BaseExecution_nhlm_w32_1,
	       nhlm_w32_1.[Base Execution SD] BaseExecutionSD_nhlm_w32_1,
	       nhlm_w32_1.[Execution Duration] Execution_nhlm_w32_1,
	       nhlm_w32_1.[Execution SD] ExecutionSD_nhlm_w32_1,
	       nhlm_w32_1.[ID] ID_nhlm_w32_1,
	       nhlm_w32_1.[Note] Note_nhlm_w32_1,
	       nhlm_w32_4.[Execution Time Ratio] Ratio_nhlm_w32_4,
	       nhlm_w32_4.[Base Execution Duration] BaseExecution_nhlm_w32_4,
	       nhlm_w32_4.[Base Execution SD] BaseExecutionSD_nhlm_w32_4,
	       nhlm_w32_4.[Execution Duration] Execution_nhlm_w32_4,
	       nhlm_w32_4.[Execution SD] ExecutionSD_nhlm_w32_4,
	       nhlm_w32_4.[ID] ID_nhlm_w32_4,
	       nhlm_w32_4.[Note] Note_nhlm_w32_4,
	       nhlm_w64_1.[Execution Time Ratio] Ratio_nhlm_w64_1,
	       nhlm_w64_1.[Base Execution Duration] BaseExecution_nhlm_w64_1,
	       nhlm_w64_1.[Base Execution SD] BaseExecutionSD_nhlm_w64_1,
	       nhlm_w64_1.[Execution Duration] Execution_nhlm_w64_1,
	       nhlm_w64_1.[Execution SD] ExecutionSD_nhlm_w64_1,
	       nhlm_w64_1.[ID] ID_nhlm_w64_1,
	       nhlm_w64_1.[Note] Note_nhlm_w64_1,
	       nhlm_w64_4.[Execution Time Ratio] Ratio_nhlm_w64_4,
	       nhlm_w64_4.[Base Execution Duration] BaseExecution_nhlm_w64_4,
	       nhlm_w64_4.[Base Execution SD] BaseExecutionSD_nhlm_w64_4,
	       nhlm_w64_4.[Execution Duration] Execution_nhlm_w64_4,
	       nhlm_w64_4.[Execution SD] ExecutionSD_nhlm_w64_4,
	       nhlm_w64_4.[ID] ID_nhlm_w64_4,
	       nhlm_w64_4.[Note] Note_nhlm_w64_4
	FROM      dbo.TVF_Compare(@R1, @R2,  'corei7', 'corei7', 'Win32', 'Win32', '1', '1') AS nhlm_w32_1
	FULL JOIN dbo.TVF_Compare(@R1, @R2, 'corei7', 'corei7', 'Win32', 'Win32', '4', '4') AS nhlm_w32_4 ON nhlm_w32_1.KernelName = nhlm_w32_4.KernelName
	FULL JOIN dbo.TVF_Compare(@R1, @R2, 'corei7', 'corei7', 'Win64', 'Win64', '1', '1') AS nhlm_w64_1 ON nhlm_w32_1.KernelName = nhlm_w64_1.KernelName
	FULL JOIN dbo.TVF_Compare(@R1, @R2, 'corei7', 'corei7', 'Win64', 'Win64', '4', '4') AS nhlm_w64_4 ON nhlm_w32_1.KernelName = nhlm_w64_4.KernelName
	WHERE nhlm_w32_1.KernelName IS NOT NULL
	ORDER BY KernelName

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExecutionDurationRatio]    Script Date: 05/28/2011 19:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ExecutionDurationRatio]
	-- Add the parameters for the stored procedure here
	@R1 int,
	@R2 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT     snb_w32_1.KernelName KernelName, 
	       snb_w32_1.[Execution Time Ratio] Ratio_snb_w32_1,
	       snb_w32_1.[Base Execution Duration] BaseExecution_snb_w32_1,
	       snb_w32_1.[Base Execution SD] BaseExecutionSD_snb_w32_1,
	       snb_w32_1.[Execution Duration] Execution_snb_w32_1,
	       snb_w32_1.[Execution SD] ExecutionSD_snb_w32_1,
	       snb_w32_1.[ID] ID_snb_w32_1,
	       snb_w32_1.[Note] Note_snb_w32_1,
	       snb_w32_4.[Execution Time Ratio] Ratio_snb_w32_4,
	       snb_w32_4.[Base Execution Duration] BaseExecution_snb_w32_4,
	       snb_w32_4.[Base Execution SD] BaseExecutionSD_snb_w32_4,
	       snb_w32_4.[Execution Duration] Execution_snb_w32_4,
	       snb_w32_4.[Execution SD] ExecutionSD_snb_w32_4,
	       snb_w32_4.[ID] ID_snb_w32_4,
	       snb_w32_4.[Note] Note_snb_w32_4,
	       snb_w64_1.[Execution Time Ratio] Ratio_snb_w64_1,
	       snb_w64_1.[Base Execution Duration] BaseExecution_snb_w64_1,
	       snb_w64_1.[Base Execution SD] BaseExecutionSD_snb_w64_1,
	       snb_w64_1.[Execution Duration] Execution_snb_w64_1,
	       snb_w64_1.[Execution SD] ExecutionSD_snb_w64_1,
	       snb_w64_1.[ID] ID_snb_w64_1,
	       snb_w64_1.[Note] Note_snb_w64_1,
	       snb_w64_4.[Execution Time Ratio] Ratio_snb_w64_4,
	       snb_w64_4.[Base Execution Duration] BaseExecution_snb_w64_4,
	       snb_w64_4.[Base Execution SD] BaseExecutionSD_snb_w64_4,
	       snb_w64_4.[Execution Duration] Execution_snb_w64_4,
	       snb_w64_4.[Execution SD] ExecutionSD_snb_w64_4,
	       snb_w64_4.[ID] ID_snb_w64_4,
	       snb_w64_4.[Note] Note_snb_w64_4
	FROM      dbo.TVF_Compare(@R1, @R2,  'sandybridge', 'sandybridge', 'Win32', 'Win32', '1', '1') AS snb_w32_1
	FULL JOIN dbo.TVF_Compare(@R1, @R2, 'sandybridge', 'sandybridge', 'Win32', 'Win32', '4', '4') AS snb_w32_4 ON snb_w32_1.KernelName = snb_w32_4.KernelName
	FULL JOIN dbo.TVF_Compare(@R1, @R2, 'sandybridge', 'sandybridge', 'Win64', 'Win64', '1', '1') AS snb_w64_1 ON snb_w32_1.KernelName = snb_w64_1.KernelName
	FULL JOIN dbo.TVF_Compare(@R1, @R2, 'sandybridge', 'sandybridge', 'Win64', 'Win64', '4', '4') AS snb_w64_4 ON snb_w32_1.KernelName = snb_w64_4.KernelName
	WHERE snb_w32_1.KernelName IS NOT NULL
	ORDER BY KernelName

END
GO
/****** Object:  StoredProcedure [dbo].[SP_SDMeansByKernelName]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SDMeansByKernelName]
	@R1 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT snb_w32_1.KernelName KernelName, 
	       snb_w32_1.ExecutionSDMean Execution_snb_w32_1,
	       snb_w32_4.ExecutionSDMean Execution_snb_w32_4,
	       snb_w64_1.ExecutionSDMean Execution_snb_w64_1,
	       snb_w64_4.ExecutionSDMean Execution_snb_w64_4,
	       nhlm_w32_1.ExecutionSDMean Execution_nhlm_w32_1,
	       nhlm_w64_4.ExecutionSDMean Execution_nhlm_w32_4,
	       nhlm_w64_1.ExecutionSDMean Execution_nhlm_w64_1,
	       nhlm_w64_1.ExecutionSDMean Execution_nhlm_w64_4,
	       snb_w32_1.BuildSDMean Build_snb_w32_1,
	       snb_w32_4.BuildSDMean Build_snb_w32_4,
	       snb_w64_1.BuildSDMean Build_snb_w64_1,
	       snb_w64_4.BuildSDMean Build_snb_w64_4,
	       nhlm_w32_1.BuildSDMean Build_nhlm_w32_1,
	       nhlm_w64_4.BuildSDMean Build_nhlm_w32_4,
	       nhlm_w64_1.BuildSDMean Build_nhlm_w64_1,
	       nhlm_w64_1.BuildSDMean Build_nhlm_w64_4
	FROM      dbo.TVF_SDMeans(@R1, 'sandybridge', 'Win32', '1') AS snb_w32_1
	FULL JOIN dbo.TVF_SDMeans(@R1, 'sandybridge', 'Win32', '4') AS snb_w32_4 ON snb_w32_1.KernelName = snb_w32_4.KernelName
	FULL JOIN dbo.TVF_SDMeans(@R1, 'sandybridge', 'Win64', '1') AS snb_w64_1 ON snb_w32_1.KernelName = snb_w64_1.KernelName
	FULL JOIN dbo.TVF_SDMeans(@R1, 'sandybridge', 'Win64', '4') AS snb_w64_4 ON snb_w32_1.KernelName = snb_w64_4.KernelName
	FULL JOIN dbo.TVF_SDMeans(@R1, 'corei7', 'Win32', '1') AS nhlm_w32_1 ON snb_w32_1.KernelName = nhlm_w32_1.KernelName
	FULL JOIN dbo.TVF_SDMeans(@R1, 'corei7', 'Win32', '4') AS nhlm_w32_4 ON snb_w32_1.KernelName = nhlm_w32_4.KernelName
	FULL JOIN dbo.TVF_SDMeans(@R1, 'corei7', 'Win64', '1') AS nhlm_w64_1 ON snb_w32_1.KernelName = nhlm_w64_1.KernelName
	FULL JOIN dbo.TVF_SDMeans(@R1, 'corei7', 'Win64', '4') AS nhlm_w64_4 ON snb_w32_1.KernelName = nhlm_w64_4.KernelName
	WHERE snb_w32_1.KernelName IS NOT NULL
	ORDER BY KernelName

END
GO
/****** Object:  StoredProcedure [dbo].[SP_KernelRatioHistory_SandyBridge]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_KernelRatioHistory_SandyBridge]
	@R1 int,
	@KN nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT w32_1.Revision Revision	      
		  ,w32_1.ExecutionDuration Execution_w32_1
	      ,w32_1.ExecutionSDMean   ExecutionSD_w32_1
	      ,w32_1.[Execution Ratio] ExecutionRatio_w32_1
	      ,w32_1.BuildDuration     Build_w32_1
	      ,w32_1.BuildSDMean       BuildSD_w32_1
	      ,w32_1.[Build Ratio]     BuildRatio_w32_1
	      ,w32_4.ExecutionDuration Execution_w32_4
	      ,w32_4.ExecutionSDMean   ExecutionSD_w32_4
	      ,w32_4.[Execution Ratio] ExecutionRatio_w32_4
	      ,w32_4.BuildDuration     Build_w32_4
	      ,w32_4.BuildSDMean       BuildSD_w32_4
	      ,w32_4.[Build Ratio]     BuildRatio_w32_4
	      ,w64_1.ExecutionDuration Execution_w64_1
	      ,w64_1.ExecutionSDMean   ExecutionSD_w64_1
	      ,w64_1.[Execution Ratio] ExecutionRatio_w64_1
	      ,w64_1.BuildDuration     Build_w64_1
	      ,w64_1.BuildSDMean       BuildSD_w64_1
	      ,w64_1.[Build Ratio]     BuildRatio_w64_1
	      ,w64_4.ExecutionDuration Execution_w64_4
	      ,w64_4.ExecutionSDMean   ExecutionSD_w64_4
	      ,w64_4.[Execution Ratio] ExecutionRatio_w64_4
	      ,w64_4.BuildDuration     Build_w64_4
	      ,w64_4.BuildSDMean       BuildSD_w64_4
	      ,w64_4.[Build Ratio]     BuildRatio_w64_4
	FROM dbo.TVF_KernelRatioHistory(@R1, @KN,  'sandybridge', 'sandybridge', 'Win32', 'Win32', '1', '1') AS w32_1 
	FULL JOIN dbo.TVF_KernelRatioHistory(@R1, @KN,  'sandybridge', 'sandybridge', 'Win32', 'Win32', '4', '4') AS w32_4 ON w32_1.Revision = w32_4.Revision
	FULL JOIN dbo.TVF_KernelRatioHistory(@R1, @KN,  'sandybridge', 'sandybridge', 'Win64', 'Win64', '1', '1') AS w64_1 ON w32_1.Revision = w64_1.Revision
	FULL JOIN dbo.TVF_KernelRatioHistory(@R1, @KN,  'sandybridge', 'sandybridge', 'Win64', 'Win64', '4', '4') AS w64_4 ON w32_1.Revision = w64_4.Revision
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KernelRatioHistory_Corei7]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_KernelRatioHistory_Corei7]
	@R1 int,
	@KN nvarchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT w32_1.Revision Revision
	      ,w32_1.ExecutionDuration Execution_w32_1
	      ,w32_1.ExecutionSDMean   ExecutionSD_w32_1
	      ,w32_1.[Execution Ratio] ExecutionRatio_w32_1
	      ,w32_1.BuildDuration     Build_w32_1
	      ,w32_1.BuildSDMean       BuildSD_w32_1
	      ,w32_1.[Build Ratio]     BuildRatio_w32_1
	      ,w32_4.ExecutionDuration Execution_w32_4
	      ,w32_4.ExecutionSDMean   ExecutionSD_w32_4
	      ,w32_4.[Execution Ratio] ExecutionRatio_w32_4
	      ,w32_4.BuildDuration     Build_w32_4
	      ,w32_4.BuildSDMean       BuildSD_w32_4
	      ,w32_4.[Build Ratio]     BuildRatio_w32_4
	      ,w64_1.ExecutionDuration Execution_w64_1
	      ,w64_1.ExecutionSDMean   ExecutionSD_w64_1
	      ,w64_1.[Execution Ratio] ExecutionRatio_w64_1
	      ,w64_1.BuildDuration     Build_w64_1
	      ,w64_1.BuildSDMean       BuildSD_w64_1
	      ,w64_1.[Build Ratio]     BuildRatio_w64_1
	      ,w64_4.ExecutionDuration Execution_w64_4
	      ,w64_4.ExecutionSDMean   ExecutionSD_w64_4
	      ,w64_4.[Execution Ratio] ExecutionRatio_w64_4
	      ,w64_4.BuildDuration     Build_w64_4
	      ,w64_4.BuildSDMean       BuildSD_w64_4
	      ,w64_4.[Build Ratio]     BuildRatio_w64_4
	FROM dbo.TVF_KernelRatioHistory(@R1, @KN,  'corei7', 'corei7', 'Win32', 'Win32', '1', '1') AS w32_1 
	FULL JOIN dbo.TVF_KernelRatioHistory(@R1, @KN,  'corei7', 'corei7', 'Win32', 'Win32', '4', '4') AS w32_4 ON w32_1.Revision = w32_4.Revision
	FULL JOIN dbo.TVF_KernelRatioHistory(@R1, @KN,  'corei7', 'corei7', 'Win64', 'Win64', '1', '1') AS w64_1 ON w32_1.Revision = w64_1.Revision
	FULL JOIN dbo.TVF_KernelRatioHistory(@R1, @KN,  'corei7', 'corei7', 'Win64', 'Win64', '4', '4') AS w64_4 ON w32_1.Revision = w64_4.Revision
END
GO
/****** Object:  UserDefinedFunction [dbo].[SVF_GeomeanExecutionDuration]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[SVF_GeomeanExecutionDuration]
(
	@R1 int, 
	@R2 int,
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
)
RETURNS real
AS
BEGIN
	-- Declare the return variable here
	DECLARE @GeoMean real

	-- Add the T-SQL statements to compute the return value here
	SELECT @GeoMean = Exp(Avg(Log(Report.[Execution Time Ratio]))) 
	FROM dbo.TVF_Compare( @R1, @R2, @C1, @C2, @T1, @T2, @V1, @V2) AS Report
	WHERE Report.[Execution Time Ratio] > 0

	-- Return the result of the function
	RETURN @GeoMean


END
GO
/****** Object:  UserDefinedFunction [dbo].[SVF_GeomeanBuildDuration]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[SVF_GeomeanBuildDuration]
(
	@R1 int, 
	@R2 int,
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
)
RETURNS real
AS
BEGIN
	-- Declare the return variable here
	DECLARE @GeoMean real

	-- Add the T-SQL statements to compute the return value here
	SELECT @GeoMean = Exp(Avg(Log(Report.[Build Time Ratio]))) 
	FROM dbo.TVF_Compare( @R1, @R2, @C1, @C2, @T1, @T2, @V1, @V2) AS Report
	WHERE Report.[Build Time Ratio] > 0

	-- Return the result of the function
	RETURN @GeoMean

END
GO
/****** Object:  UserDefinedFunction [dbo].[TVF_VectorizerSpeedupHistory]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[TVF_VectorizerSpeedupHistory]
(	
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DISTINCT Revision, dbo.SVF_GeomeanExecutionDuration(Revision, Revision, @C1, @C2, @T1, @T2, @V1, @V2) Ratio from dbo.VolcanoPerf
)
GO
/****** Object:  UserDefinedFunction [dbo].[TVF_CompareExecutionHistory]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[TVF_CompareExecutionHistory]
(	
	@R1 int,
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DISTINCT T1.Revision  Revision, dbo.SVF_GeomeanExecutionDuration(@R1, T1.Revision, @C1, @C2, @T1, @T2, @V1, @V2) Ratio , T2.RevisionDate RevisionDate
	from dbo.VolcanoPerf as T1
	cross apply (select CAST( min(Timestamp) AS date) as RevisionDate from dbo.VolcanoPerf where Revision = T1.Revision) as T2
)
GO
/****** Object:  UserDefinedFunction [dbo].[TVF_CompareBuildHistory]    Script Date: 05/28/2011 19:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[TVF_CompareBuildHistory]
(	
	@R1 int,
	@C1 nvarchar(255),
	@C2 nvarchar(255),
	@T1 nvarchar(255),
	@T2 nvarchar(255),
	@V1 nvarchar(255),
	@V2 nvarchar(255)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DISTINCT Revision, dbo.SVF_GeomeanBuildDuration(@R1, Revision, @C1, @C2, @T1, @T2, @V1, @V2) Ratio from dbo.VolcanoPerf
)
GO
/****** Object:  StoredProcedure [dbo].[SP_VectorizerSpeedupHistory]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VectorizerSpeedupHistory]
	@R1 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT snb_w32.Revision Revision, 
	       snb_w32.Ratio Ratio_snb_w32,
	       snb_w64.Ratio Ratio_snb_w64,
	       nhlm_w32.Ratio Ratio_nhlm_w32,
	       nhlm_w64.Ratio Ratio_nhlm_w64
	FROM      dbo.TVF_VectorizerSpeedupHistory('sandybridge', 'sandybridge', 'Win32', 'Win32', '1', '4') AS snb_w32
	FULL JOIN dbo.TVF_VectorizerSpeedupHistory('sandybridge', 'sandybridge', 'Win64', 'Win64', '1', '4') AS snb_w64 ON snb_w32.Revision = snb_w64.Revision
	FULL JOIN dbo.TVF_VectorizerSpeedupHistory('corei7', 'corei7', 'Win32', 'Win32', '1', '4') AS nhlm_w32 ON snb_w32.Revision = nhlm_w32.Revision
	FULL JOIN dbo.TVF_VectorizerSpeedupHistory('corei7', 'corei7', 'Win64', 'Win64', '1', '4') AS nhlm_w64 ON snb_w32.Revision = nhlm_w64.Revision
	ORDER BY Revision

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExecutionDurationRatioHistory]    Script Date: 05/28/2011 19:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ExecutionDurationRatioHistory]
	@R1 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT snb_w32_1.Revision Revision,
		   snb_w32_1.RevisionDate RevisionDate, 
	       snb_w32_1.Ratio Ratio_snb_w32_1,
	       snb_w32_4.Ratio Ratio_snb_w32_4,
	       snb_w64_1.Ratio Ratio_snb_w64_1,
	       snb_w64_4.Ratio Ratio_snb_w64_4,
	       nhlm_w32_1.Ratio Ratio_nhlm_w32_1,
	       nhlm_w32_4.Ratio Ratio_nhlm_w32_4,
	       nhlm_w64_1.Ratio Ratio_nhlm_w64_1,
	       nhlm_w64_4.Ratio Ratio_nhlm_w64_4
	FROM      dbo.TVF_CompareExecutionHistory(@R1, 'sandybridge', 'sandybridge', 'Win32', 'Win32', '1', '1') AS snb_w32_1
	FULL JOIN dbo.TVF_CompareExecutionHistory(@R1, 'sandybridge', 'sandybridge', 'Win32', 'Win32', '4', '4') AS snb_w32_4 ON snb_w32_1.Revision = snb_w32_4.Revision
	FULL JOIN dbo.TVF_CompareExecutionHistory(@R1, 'sandybridge', 'sandybridge', 'Win64', 'Win64', '1', '1') AS snb_w64_1 ON snb_w32_1.Revision = snb_w64_1.Revision
	FULL JOIN dbo.TVF_CompareExecutionHistory(@R1, 'sandybridge', 'sandybridge', 'Win64', 'Win64', '4', '4') AS snb_w64_4 ON snb_w32_1.Revision = snb_w64_4.Revision
	FULL JOIN dbo.TVF_CompareExecutionHistory(@R1, 'corei7', 'corei7', 'Win32', 'Win32', '1', '1') AS nhlm_w32_1 ON snb_w32_1.Revision = nhlm_w32_1.Revision
	FULL JOIN dbo.TVF_CompareExecutionHistory(@R1, 'corei7', 'corei7', 'Win32', 'Win32', '4', '4') AS nhlm_w32_4 ON snb_w32_1.Revision = nhlm_w32_4.Revision
	FULL JOIN dbo.TVF_CompareExecutionHistory(@R1, 'corei7', 'corei7', 'Win64', 'Win64', '1', '1') AS nhlm_w64_1 ON snb_w32_1.Revision = nhlm_w64_1.Revision
	FULL JOIN dbo.TVF_CompareExecutionHistory(@R1, 'corei7', 'corei7', 'Win64', 'Win64', '4', '4') AS nhlm_w64_4 ON snb_w32_1.Revision = nhlm_w64_4.Revision
	ORDER BY Revision
	
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuildDurationRatioHistory]    Script Date: 05/28/2011 19:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BuildDurationRatioHistory]
	@R1 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT snb_w32_1.Revision Revision, 
	       snb_w32_1.Ratio Ratio_snb_w32_1,
	       snb_w32_4.Ratio Ratio_snb_w32_4,
	       snb_w64_1.Ratio Ratio_snb_w64_1,
	       snb_w64_4.Ratio Ratio_snb_w64_4,
	       nhlm_w32_1.Ratio Ratio_nhlm_w32_1,
	       nhlm_w32_4.Ratio Ratio_nhlm_w32_4,
	       nhlm_w64_1.Ratio Ratio_nhlm_w64_1,
	       nhlm_w64_4.Ratio Ratio_nhlm_w64_4
	       
	FROM dbo.TVF_CompareBuildHistory(@R1, 'sandybridge', 'sandybridge', 'Win32', 'Win32', '1', '1')      AS snb_w32_1
	FULL JOIN dbo.TVF_CompareBuildHistory(@R1, 'sandybridge', 'sandybridge', 'Win32', 'Win32', '4', '4') AS snb_w32_4 ON snb_w32_1.Revision = snb_w32_4.Revision
	FULL JOIN dbo.TVF_CompareBuildHistory(@R1, 'sandybridge', 'sandybridge', 'Win64', 'Win64', '1', '1') AS snb_w64_1 ON snb_w32_1.Revision = snb_w64_1.Revision
	FULL JOIN dbo.TVF_CompareBuildHistory(@R1, 'sandybridge', 'sandybridge', 'Win64', 'Win64', '4', '4') AS snb_w64_4 ON snb_w32_1.Revision = snb_w64_4.Revision
	FULL JOIN dbo.TVF_CompareBuildHistory(@R1, 'corei7', 'corei7', 'Win32', 'Win32', '1', '1') AS nhlm_w32_1 ON snb_w32_1.Revision = nhlm_w32_1.Revision
	FULL JOIN dbo.TVF_CompareBuildHistory(@R1, 'corei7', 'corei7', 'Win32', 'Win32', '4', '4') AS nhlm_w32_4 ON snb_w32_1.Revision = nhlm_w32_4.Revision
	FULL JOIN dbo.TVF_CompareBuildHistory(@R1, 'corei7', 'corei7', 'Win64', 'Win64', '1', '1') AS nhlm_w64_1 ON snb_w32_1.Revision = nhlm_w64_1.Revision
	FULL JOIN dbo.TVF_CompareBuildHistory(@R1, 'corei7', 'corei7', 'Win64', 'Win64', '4', '4') AS nhlm_w64_4 ON snb_w32_1.Revision = nhlm_w64_4.Revision
	ORDER BY Revision
END
GO
